@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Inter:wght@500&family=Montserrat:ital,wght@1,200&display=swap");

.date,
.time,
.weather {
  margin: auto;
  text-align: center;
}

.weekday-heading {
  font-family: Montserrat;
  font-size: 3.5rem;
  letter-spacing: 0.75rem;
}

.time-heading {
  font-family: Inter;
}

.date-heading {
  font-family: Fredoka;
}

.weather-heading {
  font-family: Montserrat;
}
